body{
  background-color:#d1f0ea;
  text-align:center;
}

h1{
  color:black; 
}

.lisa{
  width:400px;
  height:auto;
}

#about{
  margin-left:200px;
  margin-right:200px;
}

ul {
  list-style-type: none; /* Ensures default bullets are used */
  list-style-position: outside; /* Keeps bullets aligned properly */
  display: flex;
  flex-direction: column; /* Ensures vertical alignment */
  align-items: center; /* Centers the list items */
  padding: 0;
}

a:active{
  color:#000d31;
}

a:visited{
  color:#000d31;
}

a:hover{
  color: blueviolet;
}
